$color-white: #ffffff;
$color-black:#000000;
$color-logo: #BFBFBF;
$color-001: #111111;
$color-002: #555C66;
$color-003: #808080;
$color-004: #E81A23;


$font-001: "OpenSans";
$font-002: "Oswald";
$font-logo: "Mitr";